### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [5]:
players = len(purchase_data["SN"].value_counts())
player_count = pd.DataFrame([players], columns = ["Total Players"])
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
UniqueItems = len(purchase_data["Item Name"].unique())

Avgprice = purchase_data["Price"].mean()

NumPur = len(purchase_data["Item Name"])

Rev = purchase_data["Price"].sum()

Purchasing_Analysis_Total = pd.DataFrame({"Number of Unique Items": [UniqueItems],
                                          "Average Price": [Avgprice],
                                          "Number of Purchases": [NumPur],
                                          "Total Revenue": [Rev]})
Purchasing_Analysis_Total["Average Price"] = Purchasing_Analysis_Total["Average Price"].map("${:.2f}".format)
Purchasing_Analysis_Total["Total Revenue"] = Purchasing_Analysis_Total["Total Revenue"].map("${:.2f}".format)
Purchasing_Analysis_Total = Purchasing_Analysis_Total[["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]]

Purchasing_Analysis_Total

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [15]:
gender = purchase_data[["SN", "Gender"]]

gender = gender.drop_duplicates()

counts = gender["Gender"].value_counts()
total_counts = [counts[0], counts[1], counts[2]]
percents = [round((counts[0]/players)*100,2),round((counts[1]/players)*100,2),round((counts[2]/players)*100,2)]

# percents = [round((counts[0]/player)*100,2),round((counts[1]/player)*100,2),round((counts[2]/player)*100,2)]

gender_demo = pd.DataFrame({"Precentage of PLayers": percents, "Total Count": total_counts})

gender_demo.index = (["Male", "Female", "Other / Non-Disclosed"])
gender_demo

                       Precentage of PLayers  Total Count
Male                                   84.03          484
Female                                 14.06           81
Other / Non-Disclosed                   1.91           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
gender = purchase_data.groupby(["Gender"])

purch_Count = gender["SN"].count()

purch_Price = gender["Price"].mean()

purch_Value = gender["Price"].mean()

duplicates = purchase_data.drop_duplicates(subset='SN', keep="first")
grouped_dup = duplicates.groupby(["Gender"])

purch_Norm = (gender["Price"].sum() / grouped_dup["SN"].count())
purch_Anal_Gen = pd.DataFrame({"Purchase Count": purch_Count,
                              "Average Purchase Price": purch_Price,
                              "Total Purchase Value": purch_Value,
                              "Normalized Totals": purch_Norm})

purch_Anal_Gen["Average Purchase Price"] = purch_Anal_Gen["Average Purchase Price"].map("${:.2f}".format)
purch_Anal_Gen["Total Purchase Value"] = purch_Anal_Gen["Total Purchase Value"].map("${:.2f}".format)
purch_Anal_Gen = purch_Anal_Gen[["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Normalized Totals"]]
purch_Anal_Gen

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Female,113,$3.20,$3.20,4.468395
Male,652,$3.02,$3.02,4.065372
Other / Non-Disclosed,15,$3.35,$3.35,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [23]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35=39", "40+"]

purchase_data["Age Demographics"]= pd.cut(purchase_data["Age"], age_bins, labels=group_names)
demographic_group = purchase_data.groupby("Age Demographics")
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Demographics
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [27]:
age_purchasing_df = purchase_data
age_purchasing_df['Age Groups'] = pd.cut(purchase_data['Age'], age_bins, labels = group_names)

age_purchasing_analysis_df = age_purchasing_df[['Price', 'Age Groups']].groupby(['Age Groups']).count()

age_purchasing_analysis_df['Average Purchase Price'] = age_purchasing_df[['Price', 'Age Groups']].groupby(*['Age Groups']).mean()

age_purchasing_analysis_df['Total Purchase Price'] = age_purchasing_df[['Price', 'Age Groups']].groupby(['Age Groups']).sum()

age_purchasing_analysis_df['Normalized Totals'] = age_purchasing_analysis_df['Total Purchase Price'] / purchase_data["Age Demographics"]


age_purchasing_analysis_df['Average Purchase Price'] = age_purchasing_analysis_df['Average Purchase Price'].map('${:.2f}'.format)
age_purchasing_analysis_df['Normalized Totals'] = age_purchasing_analysis_df['Normalized totals'].map('@{:.2f}'.format)

age_purchasing_analysis_df

#need help on this error

TypeError: Object with dtype category cannot perform the numpy op true_divide

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
top_spenders = purchase_data['Item ID'].groupby(purchase_data['SN']).count()

top_spenders= pd.Dataframe(data=top_spenders)
top_spenders.columns = ['Purchase Cont']

top_spenders['Average Purchase Price'] = round(purchase_data['Price'].groupby(purchase_data['SN']).mean(),2)
top_spenders['Total Purchase Value'] = purchase_data['Price'].ghroupby(purchase_data['SN']).sum()

top_spenders.sort_values(by=['ATotal Purchase Value'], ascending=False, inplace=True)

top_spenders['Average Purchase Price'] = top_spenders['Average Purchase Price'].map('${:.2f}'.format)
top_spenders['Total Purchase Value'] = top_spenders['Total Purchase Value'].map('$(:.2f)'.format)
top_spenders.head()

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [35]:
most_items = []
most_itsms = purchase_data.groupby(['Item ID', 'Item Name', 'Price'])['Price'].agg(['count', 'sum'])
most_items = ['Purchase Count', 'Total Purchase Value']

most_items.reset_index(inplace=True)
most_items.set_index(['Item ID', 'Item Name'], inplace=True)
most_items = most_items[['Purchase Count', 'Total Purchase Value']]
most_popular_items = most_items.sort_values(by='Purchase Count', ascending = False)

most_popular_items['Price'] = most_popular_items['Total Purchase Value'].map('${:,.2f}'.format)

most_popular_items.head()

# help needed on this error

AttributeError: 'list' object has no attribute 'reset_index'

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [39]:
# most_profit=most_items.sort_values('Total Purchase', ascending=False)
# most_profit.head()
popular_formatted = most_popular_items.sort_values(["Total Purchase Value"],
                                                  ascending=False.head)

popular_formatted.style.format({"Iten Price":"${:,.2f}"})
#help needed on this error

NameError: name 'most_popular_items' is not defined